/* ### Family: [Raleway] => Headings, Call-to-actions, Header Navigation */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Raleway:wght@400;700&display=swap');

/* Family: [Open Sans] => ### Body */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Open+Sans&family=Poppins:wght@600&family=Raleway:wght@400;700&display=swap');

:root {
	--Very-Dark-Blue: hsl(216, 12%, 8%);
	--Dark-Blue: hsl(213, 19%, 18%);
	--White: hsl(0, 0%, 100%);
	--Medium-Grey: hsl(216, 12%, 54%);
	--Light-Gray: hsl(217, 12%, 63%);
	--main-transition: 0.3s;
}
* {
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: 'Open Sans';
	background-color: var(--Very-Dark-Blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* start Rating Card */
.crad {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	background-color: var(--Dark-Blue);
	color: #fff;
	width: 400px;
	padding: 25px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.crad .star {
	background-color: #7c879842;
	width: fit-content;
	border-radius: 50%;
}
.crad img {
	padding: 6px 6px 3px 6px;
}
/* End Rating Card */
